table, th, td {
    border: 1px solid green;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: blue;
    color: white;
}

tr:nth-child(even) {
    background-color: pink;
    color: black;
}
